body .Select {
	position: relative;
	display: inline;

	&-List {
		position: absolute;
		top: 0;
		left: 0;
		background-color: var(--bg-main-light);
		list-style-type: none;
		box-shadow: inset;
	}

	&-Option {
		font-size: var(--m);
		color: var(--md-dark);
		padding: 5px;
		border-bottom: 1px solid var(--light-gray);
	}

	&-Button {
		color: #000;
	}
}
