.Calendar {
	padding: 3px 0 13px;

	&-OtherMonth {
		color: var(--light-gray);
	}

	&-Cell {
		padding: 2.5px 9px;
		text-align: end;
		font-size: 24px;
		font-weight: 400;

		&_selected {
			position: relative;
			border: 2px solid var(--yellow);

			border-radius: 5px;
		}

		&_selected::after {
			position: absolute;
			content: '';
			width: auto;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background-color: var(--yellow);
			opacity: 0.31;
		}
	}
}
