body .DatePicker {
	color: #000;
	font-size: var(--l);

	&-Header {
		z-index: 1;
		position: relative;
		padding: 10px 25px 15px;
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 16%;
		border-bottom: 1px solid var(--light-gray);
	}

	&-Header::before {
		position: absolute;
		z-index: 2;
		content: '';
		right: 150px;
		top: -3px;
		transform: scaleY(1.7) rotate(225deg);
		width: 15px;
		height: 15px;
		background: #fff;
	}

	&-MonthTitle {
		font-size: 32px;
		font-weight: 500;
		letter-spacing: 1px;
	}

	&-Calendar {
		padding: 10px;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&-Previous {
		position: absolute;
		left: 25px;
	}

	&-Next {
		position: absolute;
		right: 25px;
	}
}
