.Van {
	position: relative;
	box-sizing: border-box;
	margin: -28px 0 10px 20px;
	padding-top: 29px;
	padding-left: 134px;
	width: 925px;
	height: 145px;
	background-size: cover;

	&_type {
		&_first {
			background-image: url('../../assets/images/firstClass.jpg');
		}
		&_second {
			background-image: url('../../assets/images/secondClass.jpg');
		}
		&_third {
			background-image: url('../../assets/images/thirdClass.jpg');
		}
		&_fourth {
			background-image: url('../../assets/images/fourthClass.jpg');
		}
	}

	&-Number {
		position: absolute;
		top: -3px;
		left: 40px;
		padding: 4px 9px;
		font-size: 14px;
		font-weight: 700;
		color: var(--white);
		background-color: var(--brown);
	}

	&-List {
		display: flex;
		gap: 4px;
		&_type_side {
			margin-top: 25px;
		}
		&_fourthClass {
			gap: 18.3px;
			padding: 4px 11px;
			flex-wrap: wrap;
		}
		&_second {
			margin-top: 12px;
		}
	}

	&-Room {
		display: flex;
		text-align: center;
		gap: 34px;
	}

	&-PlaceWrap {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		flex-direction: column-reverse;

		&_type_side {
			flex-direction: row;
			width: 86px;
			height: 25px;
		}
		&_fourthClass {
			flex-direction: column;
			gap: 3px;
		}
	}

	&-Place {
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		justify-content: end;
		align-items: center;
		height: 100%;
		width: 100%;
		color: var(--white);
		background-color: var(--light-dark);

		&_available {
			cursor: pointer;
			color: #000;
			background-color: var(--bg-main-hard);
		}

		font-weight: 500;

		&_fourthClass {
			width: 26px;
			height: 18px;
		}

		&_secondClass {
			width: 26px;
			height: 29px;
		}

		&_firstClass {
			width: 26px;
			height: 59px;
		}

		&_empty {
			background-color: var(--white);
		}

		&_selected {
			border: 2px solid var(--yellow);
		}
		&_disabled {
			color: var(--white);
			background-color: var(--dark-gray);
		}
	}

	&-PlaceNumber {
		display: block;
		font-size: 14px;
	}
}
